<p>
<h2>Новости</h2>
<!--<ul class="">-->
  <!--{% for post in site.news %}-->
  <!--<li>-->

    <!--<h4>-->
      <!--<a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>-->
    <!--</h4>-->
    <!--<span class="">{{ post.date | date: "%b %-d, %Y" }}</span>-->

  <!--</li>-->
  <!--{% endfor %}-->
<!--</ul>-->
</p>
